body{
	background: #f2f2f2;
}

[role='row']{
  transition: background .4s linear;

  & [role='row']:nth-child(even) {
	  background: #fafafa;
	  transition: background .4s linear;
	}

	&:hover{
		background-color: #f2f2f2;
	}
}

.rdt_TableRow{

	[data-tag='allowRowEvents']{
		img {
		    width: 60px;
		    margin: 10px 0;
		    border-radius: 100%;
		    border: 1px solid #f2f2f2;
		    padding: 5px;
		    margin-right: 1vw;
		}
	}

}

.rdt_TableHead{
	.rdt_TableCol{
		color: #fff;
		background: #000;
		padding: 1vw;
		text-align: center;
		font-size: 1.3vw;
	}
}